body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #f2f2f2;
}
header {
background-color: black;
color: white;
padding: 25px;
text-align: center;
}
section {
background-color: white;
margin: 20px;
padding: 30px;
border-radius: 8px;

}
#section1 {
background-color: white;
margin: 20px;
padding: 30px;
border-radius: 8px;
background-image: url(../img/hobbies.avif);
background-position: center;
}

h2 {
color: gray;
}
footer {
background-color: rgb(61, 61, 61);
color: white;
text-align: center;
padding: 15px;
}
