 body {
    background-image: url(../img/Agora_ufv.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
        }
        header {
            background-color: black;
            color: white;
            padding: 25px;
            text-align: center;
        }
    section {
    background-image: url(../img/Logo_UFV.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
    background-attachment: fixed;
    background-size: 600px ;


    background-color: white;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    max-width: 600px;
}


        h2 {
            color: gray;
        }
        label {
            display: block;
            margin-top: 15px;
            font-weight: bold;
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        button {
            margin-top: 20px;
            padding: 12px;
            width: 100%;
            background-color: gray;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background-color: gray;
        }
        footer {
            background-color: rgb(61, 61, 61);
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 30px;
        }
