body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
header {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}
section {
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 8px;
}
h2 {
    color: gray;
}
footer {
    background-color:rgb(61, 61, 61);
    color: white;
    text-align: center;
    padding: 15px;
}
