body {
font-family: Arial, sans-serif;
margin: 0;
background-color: white;
}
header {
background-color: black;
color: white;
padding: 25px;
text-align: center;
}
nav {
background-color: gray;
padding: 15px;
text-align: center;
}
nav a {
display: block;
color: white;
text-decoration: none;
font-size: 18px;
margin: 10px 0;
font-weight: bold;
}
nav a:hover {
text-decoration: underline;
}
section {
background-color: white;
margin: 20px;
padding: 30px;
border-radius: 8px;
text-align: center;
}
footer {
background-color: rgb(61, 61, 61);
color: white;
text-align: center;
padding: 15px;
margin-top: 30px;
}
