/* ====== GENERAL ====== */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

/* ====== HEADER ====== */
header {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}

/* ====== SECCIONES ====== */
section {
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    max-width: 800px;
}

/* ====== TÍTULOS ====== */
h2 {
    color: gray;
}

/* ====== NAVEGACIÓN ====== */
nav {
    background-color: gray;
    padding: 15px;
    text-align: center;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* ====== LISTAS ====== */
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 15px 0;
}

/* ====== ENLACES ====== */
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ====== FORMULARIOS ====== */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* ====== IMÁGENES ====== */
.img-section {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
}

/* ====== FONDOS ESPECÍFICOS ====== */
.body-net {
    background-image: url(../img/Compañeros.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.body-contact {
    background-image: url(../img/Agora_ufv.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ====== FOOTER ====== */
footer {
    background-color: rgb(61, 61, 61);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
.header-atleti {
    background-color: #c8102e;
    color: black;
    padding: 200px;
    text-align: center;
    background-image: url('../img/atleti_escudo.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
