body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #f2f2f2;
}
header {
background-color: #c8102e;
color: black;
padding: 200px;
text-align: center;
background-image: url('../img/atleti_escudo.jpg');
background-repeat: no-repeat;
background-position: center;
}
section {
background-color: white;
margin: 20px;
padding: 30px;
border-radius: 8px;
}
h2 {
color: #c8102e;
}
footer {
background-color:rgb(61, 61, 61);
color: white;
text-align: center;
padding: 15px;
}
.img-header {
    width: 120px;
    margin-top: 15px;
}


.img-section {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
}
#titulo {
    text-align: center;
}
